h1 {
    text-align: center;
    background-color: yellow;
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    border-left: 3px solid green;
    padding-left: 15px;
}

#last-posts {
    border: 3px dotted green;
    height: fit-content;
    padding: 15px;
}

#last-posts * {
    text-align: right;
    display: block;
}

footer {
    display: flex;
    justify-content: center;
    margin: 15px;
}
