body {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body>* {
    border: 1px solid black;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    padding-bottom: 200px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

p {
    margin: 0;
}

main>* {
    margin: 0 0 50px 10px;
}

.data {
    text-align: left;
}